.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    background-color: #202831;
    color: #7b8790;
}

.logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    /* background-color: #292b2c; */
    font-family: Roboto;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider {
    width: 140px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent !important;
}

.rc-slider-rail {
    height: 8px;
    background-color: #7b8790;
}

.rc-slider-handle,
.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
    background-color:#3b9be4 !important;
    outline: none !important;
    border: 2px solid #3b9be4 !important;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
}