.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
}

.Palette-footer {
    background-color: #fff;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.emoji {
    font-size: 30px;
    margin: 0px 20px;
}